.employeeMgmt {
    margin: auto;
    margin-top: 3em;
    width: fit-content;
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(2, 156, 92) white;
}

.editEmployeeForm {
    margin: 2em;
    display: inline;
    background-color: rgb(170, 255, 170);
    border-radius: 20px;
    padding: 15px;
}

.editEmployeeForm label {
    font-size: x-large;
}

.editEmployeeForm h3 {
    font-size: x-large;
    margin-top: 0;
}

#empEditName {
    width: 15em;
}

.form-group {
    margin-bottom: 1em;
}