.navOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(2, 83, 49);
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: medium;
}

.navItem {
    padding: .5em;
}

.navItem:hover {
    background-color: rgb(1, 112, 66);
}

button {
    background: none;
    border: none;
    color: white;
    font-size: medium;
    padding: .5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
    background-color: rgb(1, 112, 66);
}