.formContainer {
    margin: 2em;
    border-radius: 20px;
    background-color: rgb(170, 255, 170);
    padding: 15px;
    width: fit-content;
}

.quantityBox span {
    white-space: nowrap;
}

.autoList {
    width: fit-content;
    max-height: 150px;
    padding: 3px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(2, 156, 92) lightgreen;
    border-radius: 20px;
    background-color: lightgreen;
}

.autoOption:hover {
    cursor: pointer;
    background-color: rgb(113, 190, 113);
    padding: 2px;
    border-radius: 20px;
}

.formContainer label, .formContainer h3 {
    font-size: x-large;
}

.formContainer h3 {
    margin-top: 0;
}

.formContainer input {
    width: 15em;
}

.listOuterBox {
    padding: 10px;
    border-radius: 20px;
    max-height: fit-content;
    max-width: fit-content;
    background-color: lightgreen;
    margin-top: .5em;
    margin-bottom: .5em;
    border: 2px solid black;
}

