table, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    padding: 3px;
}

table {
    height: min-content;
    border: 5px solid black;
}

.scrollBox {
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(2, 156, 92) rgb(170, 255, 170);;
    border: .5em solid rgb(170, 255, 170);;
}

th {
    height: 50px;
}

.tableData {
    max-width: 250px;
}

tbody tr {
    background-color: rgb(219, 219, 219);
}

.tableLabel {
    background-color: rgb(1, 112, 66);
    color: white;
    min-width: 215px;
}

.tableSubLabel {
    background-color: rgb(51, 187, 51);
}
